@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primaryTextColor: rgb(216, 209, 184); /*untuk judul*/
    --secondaryTextColor: rgb(104, 104, 104); /*untuk text  paragraf */

    --borderColor:rgb(255, 185, 219);
    --secondaryBorderColor:rgb(255, 239, 239); 
    --thirdBackgroundColor: rgb(238, 202, 213);

    --primaryIconColor: rgb(247, 249, 242);
    --primaryColorHover: rgba(250, 201, 219, 0.845);
    --PrimaryBakcgroundColor: rgb(207, 207, 207);
    --secondaryBackgroundColor: rgba(255, 252, 248, 0.58);
    --sectionPadding: 6rem 0.5rem;

    --itemBorderRadius:0.7rem;

    --lineColor: rgb(192, 192, 192);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

h1, h2, h4, h5, h6, strong {
    color: var(--primaryTextColor);
}
h3 {
   color: var(--secondaryTextColor);
}

p {
    font-size: 1rem; 
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a{
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}
/*buttons*/
.btn {
    padding: 5px 10px;
    background: rgb(252, 248, 232);
    border: 2px solid var(--borderColor);
    cursor: pointer;
    transition: .2s ease-in-out;
}
.btn:hover {
     background: rgb(255, 255, 255);
}
/* end of botton */

/* title */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 1.8rem;
    margin-left: 2rem;
}
.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 50px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}
.pre-title::before {
    content:"" ;
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}
/* end of title */

/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}
/* end of layout */

/* logo and navigation menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    text-align: right;
    background: rgb(252, 248, 232);
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
    margin:20px;

}

.logo a {
    color: var(--secondaryTextColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--secondaryTextColor);
}

nav ul li a:hover {
    color: var(--borderColor);
}

.yay {
    padding-top: 1rem;
}
/* akhir dari nav */

/* Footer Section */
footer {
    padding: 4rem 0;
    background: var(--secondaryBackgroundColor);
    text-align: center;
  }
footer p {
    color: var(--borderColor);
    font-size: larger;
}
  
.footer-icons {
    margin-bottom: 1rem;
}
  
.footer-icons a {
    margin: 0 0.5rem;
}
  
.footer-icons svg {
    fill: var(--secondaryTextColor);
}
.footer-icons svg:hover {
    fill: var(--borderColor);
}
/* end footer */

/*hero section*/
#hero{
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    align-items: center;
    padding: auto;
}

.hero-name{
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem .1rem;
}

.hero-right img {
    align-items: end;
    color: #9d9fa1;
    border-radius: 50rem;
}
.hero-right{
    display: flex;
    justify-content: end;
}
/* end of hero */

/* servis */
#services{
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.services .pre-title{
    margin: 0 auto;
}

.services{
    padding: 2rem 2rem;
    text-align: center;
    background-color: var(--PrimaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.services-title h4 {
    margin: 1.5rem 0rem;
    font-size: 1.50rem;
}

.services-icon {
    background-color: rgba(255, 212, 219, 0.884);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.services-title {
    display: flex;
    margin: 3rem;
}

.service-in a svg:hover {
    fill: var(--lineColor);
}
.service-in a svg {
    transition: .2s ease-in-out;
}
/* end of service */

/* hobby */
#hobby {
    background-color: black;
    padding: 50px 0;
    text-align: center;
}
.hobby-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
}

.hobby-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--borderColor);
    width: calc(30% - 30px);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hobby-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px var(--borderColor);
    background-color: var(--primaryColorHover);
}

.hobby-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.hobby-info h3 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--PrimaryBakcgroundColor);
    margin-bottom: 10px;
    font-family: sans-serif;
}

.hobby-info p {
    font-size: 1rem;
    color: var(--PrimaryBakcgroundColor);
    line-height: 1.6;
}

@media (max-width: 768px) {
    .education-container {
        flex-direction: column;
        gap: 20px;
    }

    .education-box {
        width: 100%;
    }
}
/* end of hobby */

/* buat bagian introduce and thinks i like */
.yus {
    margin: 20px;
    box-shadow: 0 4px 8px 0 var(--borderColor);
    border-radius: 10px;
    display: flex;

    padding: 50px;
    border-radius: 55px;
    margin-top: 5px;
    background-color: rgba(254, 254, 251, 0.801);
}
.artiyus{
    max-width: 95%;
}

.yus img {
    width: 30rem;
    border-radius: 4rem;
}

.yus img:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 25px var(--borderColor);
    background-color: var(--PrimaryColorHover);
    border-radius: 50%;
}

.nanen {
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px 0 var(--borderColor);
    border-radius: 10px;

    padding: 50px;
    border-radius: 55px;
    margin-top: 5px;
    background-color: rgba(254, 254, 251, 0.801);
}

.sukasuka {
    text-align: center;
    margin: 20px;
    border-radius: 10px;

    padding: 50px;
    border-radius: 5px;
    margin-top: 5px;
}
/* end of introduce and things i like */

/* portofolio section */
#portofolio {
    padding: var(--sectionPadding);
    margin-left: .5rem;

}
.portofolio {
    border-radius: 3rem;
    /* margin: 2rem;  */
    overflow: hidden;
    border-radius: 1px solid ;  
    box-shadow: 5px 5px 10px rgb(249, 196, 231);                                    
}
.potofolio-cover  {
    height: 150px;
}
.portofolio-cover img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    /* border-radius: .5rem; */
}
.portofolio-info {
    padding: 1rem 1rem;
}
.portofolio-title {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    gap: 1rem;
}
.portofolio h4 {
    font-weight: 400px;
    font-size: 1.5rem;
}

.portofolio-title a svg:hover {
    fill: var(--lineColor);
}
.portofolio-title a svg {
    transition: .2s ease-in-out;
}
.portofolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}
.portofolio-tags div {
    font-size: 1rem;
    border: 1px solid var(--borderColor);
    padding: 5px 0.8rem;
    color: var(--secondaryTextColor);
}
.portfolio-tags div {
    font-size: 0.9rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    color: var(--secondaryTextColor);
}
.portofoliomain-container {
    display: inline;
}
/* end of portofolio section */
      

/* Skills and Education */
#skills {
    padding: var(--sectionPadding);
    background: var(--secondaryBackgroundColor);
  }
  
.skills-grid {
    display: grid;
    /* grid-template-columns: 40% 60%; */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.skillsmain-container {
    margin-top: 6rem;
}
  
.education {
    display: flex;
    gap: 1rem;
}
  
.education .line {
    padding: 0 0.7rem;
}
  
.education .line div {
    width: 2px;
    height: 100%;
    background: var(--borderColor);
    position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

/* The dot on the line */
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--borderColor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

/* Right side of Skills */
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}
.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}
  
/* sertifikat */
#serti {
    background: rgb(254, 226, 231);
    padding-top: 6rem;
    margin: 20px;
    box-shadow: 0 4px 8px 0 var(--borderColor);

    padding: 50px;
    border-radius: 55px;
    margin-top: 5px;
    background-color: rgba(254, 254, 251, 0.801);
}
.wrapper {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageser {
    width: 500px;
    position: relative;
    margin: 5px 0.8rem;
}
.imageser img {
    width: 100%;
    display: block;
    margin: auto;
}
.contentserti {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(84, 83, 79, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: coloumn;
    opacity: 0;
    transition: .6s;
}
.contentserti:hover {
    opacity: 1;
}
.contentserti h1 {
    font-size: 40px;
    color: var(--secondaryTextColor);
    margin-bottom: 20px;
}
.contentserti p {
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.contentserti > *{
    transform: translateY(25px);
    transition: transform .6s;
}
.contentserti:hover > *{
    transform: translateY(0px);
}

/* Contact Section */
#contact {
    padding: var(--sectionPadding);
}
  
.contact {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}
  
.contact-form div {
    margin-bottom: 1.4rem;
}
  
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #9d9fa1;
}
  
.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}
  
.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--secondaryTextColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
  
.btn-submit:hover {
    background-color: var(--borderColor);
  }
/* Contact Section - Right Side */
.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}
  
.contact-item-icon {
    background: var(--thirdBackgroundColor);
    /* padding: 0.8rem 1rem; */
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.contact-item-icon svg {
    fill: var(--primaryIconColor);
}
  
.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}